adium-theme-ubuntu==0.3.4
alabaster==0.7.10
appdirs==1.4.3
astroid==1.5.2
autopep8==1.3.3
awscli==1.11.133
Babel==2.4.0
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
bleach==2.0.0
boto==2.38.0
botocore==1.6.0
certifi==2017.4.17
chardet==3.0.4
click==6.7
colorama==0.3.7
configparser==3.5.0
cryptography==1.2.3
decorator==4.1.1
dill==0.2.6
docutils==0.13.1
duplicity==0.7.6
ecdsa==0.13
entrypoints==0.2.3
enum34==1.1.6
Fabric==1.13.2
flake8==3.4.1
functools32==3.2.3.post2
futures==3.1.1
gevent==1.1.1
gnp==0.0.4
greenlet==0.4.12
grequests==0.3.0
html5lib==0.999999999
idna==2.5
imagesize==0.7.1
ipaddress==1.0.16
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.2.5
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
lazy-object-proxy==1.3.1
lockfile==0.12.2
locustio==0.7.5
lxml==3.7.3
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.7.4
msgpack-python==0.4.8
multiprocess==0.70.5
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
nbconvert==5.2.1
nbformat==4.3.0
ndg-httpsclient==0.4.0
nose==1.3.7
nose2==0.6.5
notebook==5.0.0
numpy==1.11.0
packaging==16.8
pandocfilters==1.4.1
paramiko==1.16.0
parso==0.1.0
pathlib2==2.3.0
pathos==0.2.0
pdfkit==0.6.1
pexpect==4.0.1
pickleshare==0.7.4
Pillow==3.1.2
pox==0.2.3
ppft==1.6.4.7.1
prompt-toolkit==1.0.14
psutil==5.4.0
ptyprocess==0.5
pur==4.0.2
pyasn1==0.1.9
pyClamd==0.3.17
pycodestyle==2.3.1
pycrypto==2.6.1
pyflakes==1.5.0
Pygments==2.2.0
pygobject==3.20.0
pylint==1.7.1
pyodbc==3.0.7
pyOpenSSL==0.15.1
pyparsing==2.2.0
pyrg==0.2.6
pysqlite==2.7.0
python-cloudfiles==1.7.10
python-dateutil==2.6.1
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
reportlab==3.3.0
requests==2.18.1
requests-toolbelt==0.8.0
rsa==3.4.2
s3transfer==0.1.10
scandir==1.5
scour==0.32
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
sphinxcontrib-websupport==1.0.1
terminado==0.6
testpath==0.3.1
traitlets==4.3.2
typing==3.6.1
uniconvertor==1.1.5
unity-lens-photos==1.0
urllib3==1.21.1
vboxapi==1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==2.0.0
wrapt==1.10.10
